.main {
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: #ffffff;
    justify-content: space-around;
}

.one {
   height: 10px;
   width: 10px;
   background-color: black;
}